<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">SỬA Danh Gia</span>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit ()" [formGroup]="editForm">
                    <div class="form-group">
                        <label for="products_id">ID San Pham</label>
                        <input type="text" class="form-control" id="products_id" name="products_id" formControlName="products_id">
                        <span *ngIf="isVal && editForm.get ('products_id')!.invalid" class="text-danger">Vui lòng điền vào!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="star">Star</label>
                        <input type="star" class="form-control" id="star" name="star" formControlName="star">
                        <span *ngIf="isVal && editForm.get ('star')!.invalid" class="text-danger">Vui lòng điền vào!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="customers_id">ID Nguoi Dung</label>
                        <input type="number" class="form-control" id="customers_id" name="customers_id" formControlName="customers_id">
                        <span *ngIf="isVal && editForm.get ('customers_id')!.invalid" class="text-danger">Vui lòng điền vào!</span>
                    </div>
                    <div class="form-group text-center mt-4" style="display: flex ; justify-content:space-around ; width: 70% ; margin: auto ;">
                        <a style="width: 20%" routerLink="/pages/evaluate"><button style="width: 100%" type="submit" *ngFor="let status of warning" nbButton [status]="status" hero>Hủy</button></a>
                        <button style="width: 20%" type="submit" *ngFor="let status of primary" nbButton [status]="status" hero>Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>