<div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Danh sách</h4>
    <a routerLink="/pages/evaluate/add" style="text-decoration: none ; padding-top: 1% ; padding-bottom: 1% ; border-bottom: 2px solid green ; border-right: 2px solid green ; padding-right: 1% ;">
      <i class="fa fa-plus"></i> THÊM
    </a>
</div>  

<div class="w-100 mt-4">
    <table style = 'text-align:center' class="table table-bordered w-100 align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th style="width: 10% ;" scope="col">Hình ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th style = 'width: 20% ;' scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    3
                </td>
                <td>
                    <img style="width:100% ;" src="../../../assets/images/cf1.jpg" alt="" srcset="">
                </td>
                <td>
                    Cà phê trộn!!
                </td>
                <td>
                    <span style="width: 36% ; margin-right: 2% ;"><a routerLink='/pages/evaluate/detail'>
                        <button class="btn btn-primary" style="width: 40% ">
                            <img style = 'width: 38% ;' src='../../../assets/images/ct.svg'>
                        </button>
                    </a></span>
                    <span style="width: 36% ;"><a routerLink='/pages/evaluate/delete'>
                        <button class="btn btn-danger">
                            <img style = 'width: 40% ;' src='../../../assets/images/icon8-delete-new.svg'>
                        </button>
                    </a></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>