<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">SỬA DOANH THU</span>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit ()" [formGroup]="editForm">
                    <div class="form-group">
                        <label for="total_cost">Chi phí</label>
                        <input type="text" class="form-control" id="total_cost" name="total_cost" formControlName="total_cost">
                        <span *ngIf="isVal && editForm.get ('total_cost')!.invalid" class="text-danger">Vui lòng điền vào!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="total_revenue">Doanh thu</label>
                        <input type="total_revenue" class="form-control" id="total_revenue" name="total_revenue" formControlName="total_revenue">
                        <span *ngIf="isVal && editForm.get ('total_revenue')!.invalid" class="text-danger">Vui lòng điền vào!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="profit">profit</label>
                        <input type="number" class="form-control" id="profit" name="profit" formControlName="profit">
                        <span *ngIf="isVal && editForm.get ('profit')!.invalid" class="text-danger">Vui lòng điền vào!</span>
                    </div>
                    <div class="form-group text-center mt-4" style="display: flex ; justify-content:space-around ; width: 70% ; margin: auto ;">
                        <a style="width: 20%" routerLink="/pages/revenue"><button style="width: 100%" type="submit" *ngFor="let status of warning" nbButton [status]="status" hero>Hủy</button></a>
                        <button style="width: 20%" type="submit" *ngFor="let status of primary" nbButton [status]="status" hero>Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>