<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Xóa người dùng</h4>
                </div>
                <div class="card-body">
                    <form action="index.php?act=user&action=delete&id=1" method="post">
                        <div class="modal-body">
                            Bạn có chắc chắn muốn xóa người dùng này?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style="margin-right: 2% ;">Hủy</button>
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>