<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">SỬA BÀN</span>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit ()" [formGroup]="editForm">
                    <div class="form-group">
                        <label for="username">Số bàn</label>
                        <input type="number" class="form-control" name="number" formControlName="number">
                        <span *ngIf="isVal && editForm.get ('number')!.invalid" class="text-danger">Vui lòng điền số bàn!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="role">Trạng thái</label>
                        <select class="form-control" name="status" formControlName="status">
                            <option value="Sử dụng">Sử dụng</option>
                            <option value="Sửa chữa">Sửa chữa</option>
                        </select>
                        <span *ngIf="isVal && editForm.get ('status')!.invalid" class="text-danger">Vui lòng chọn trạng thái!</span>
                    </div>
                    <div class="form-group text-center mt-4" style="display: flex ; justify-content:space-around ; width: 70% ; margin: auto ;">
                        <a style="width: 25% ; color: white ; text-decoration: none ;" routerLink="/pages/table" class="btn btn-secondary">Hủy</a>
                        <button style="width: 25% ;" type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>