<div class="bg-white p-4" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span style="font-size:larger ;">DANH SÁCH</span>
        <a routerLink="/pages/staff/add">
            <button type="button" class="btn btn-success">THÊM</button>
        </a>
    </div>  
    
    <div class="w-100 mt-4">
        <table style = 'text-align:center' class="table table-bordered w-100 align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">SDT</th>
                    <th scope="col">Chức vụ</th>
                    <th style = 'width: 20% ;' scope="col">Edit</th>
                </tr>
            </thead>
            <tbody *ngIf="dataStaff.length > 0">
                <tr *ngFor="let dataStaff of dataStaff | paginate: { itemsPerPage: pageSize, currentPage: currentPage } , let i = index">
                    <td>
                        {{ (currentPage - 1) * pageSize + (i + 1) }}
                    </td>
                    <td>
                        {{dataStaff.username}}
                    </td>
                    <td>
                        {{dataStaff.email}}
                    </td>
                    <td>
                        {{dataStaff.phone}}
                    </td>
                    <td>
                        {{dataStaff.position}}
                        <span *ngFor="let dataStaff of dataStaff ; let y = index">
                            <span *ngIf="dataStaff.position == dataStaff.position">{{dataStaff.position}}</span>
                        </span>
                    </td>
                  
                    
                    <td style="display: flex ; justify-content:space-around ;">
                        <span style="width: 35% ;"><a routerLink='/pages/staff/update/{{dataStaff.id}}'>
                            <button class="btn btn-primary">
                                <img style = 'width: 45% ;' src='../../../assets/images/icons8-edit-new.svg'>
                            </button>
                        </a></span>
                        <span style="width: 35% ;"><a routerLink='/pages/staff/delete/{{dataStaff.id}}'>
                            <button class="btn btn-danger">
                                <img style = 'width: 45% ;' src='../../../assets/images/icon8-delete-new.svg'>
                            </button>
                        </a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div>
        <div class="d-flex justify-content-center mt-3">
            <pagination-controls class="custom-pagination" (pageChange)="currentPage = $event"></pagination-controls>
        </div>  
    </div>        
</div>