<div class="bg-white p-4" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span style="font-size:larger ;">DANH SÁCH</span>
        <div class="d-flex">
            <input style="margin-right: 10% ;" type="text" class="form-control" placeholder="Tìm kiếm..." [(ngModel)]="searchText" (input)="onSearchTextEntered($event)">
            <a routerLink="/pages/order/detail/de/add">
                <button *ngFor="let status of success" nbButton [status]="status" hero>
                    THÊM
                    <!-- <nb-icon icon="plus-outline"></nb-icon> -->
                </button>
            </a>
        </div>
    </div>  
    
    <div class="w-100 mt-4">
        <table style = 'text-align:center' class="table table-bordered w-100 align-middle">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th style="width: 10% ;" scope="col">Hình ảnh</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    <th style = 'width: 12% ;' scope="col">Edit</th>
                </tr>
            </thead>
            <tbody *ngIf="filteredData.length > 0">
                <tr *ngFor="let dataOrderdetail of filteredData | paginate: { itemsPerPage: pageSize, currentPage: currentPage } , let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        <span *ngFor="let dataProduct of dataProduct">
                            <img *ngIf="dataProduct.id == dataOrderdetail.product_id" style="width:100% ; height: 110px ;" src="../../../assets/images/{{dataProduct.image}}" alt="" srcset="">
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let dataProduct of dataProduct">
                            <span *ngIf="dataProduct.id == dataOrderdetail.product_id">{{dataProduct.name}}</span>
                        </span>
                        <!-- Cà phê trộn!! -->
                    </td>
                    <td>
                        {{dataOrderdetail.quantity}}
                    </td>
                    <td>
                        {{dataOrderdetail.price | currency:'VND':'symbol':'1.0-0'}}
                    </td>
                    <td>
                        <div style="display: flex ; justify-content:space-around ;">
                            <!-- <span style="width: 36%"><a routerLink='/pages/order/detail/de/update/{{dataOrderdetail.id}}'>
                                <button class="btn btn-primary">
                                    <img style = 'width: 45% ;' src='../../../assets/images/icons8-edit-new.svg'>
                                </button>
                            </a></span>
                            <span style="width: 36% ;"><a routerLink='/pages/order/detail/de/delete/{{dataOrderdetail.id}}'>
                                <button class="btn btn-danger">
                                    <img style = 'width: 45% ;' src='../../../assets/images/icon8-delete-new.svg'>
                                </button>
                            </a></span> -->
                            <a routerLink='/pages/order/detail/de/update/{{dataOrderdetail.id}}'>
                                <button *ngFor="let status of primary" nbButton [status]="status" hero>
                                    <nb-icon icon="edit-outline"></nb-icon>
                                </button>
                            </a>
                            <a routerLink='/pages/order/detail/de/delete/{{dataOrderdetail.id}}'>
                                <button *ngFor="let status of danger" nbButton [status]="status" hero>
                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="d-flex justify-content-center mt-3">
            <pagination-controls class="custom-pagination" (pageChange)="currentPage = $event"></pagination-controls>
        </div>  
    </div>   
</div>