<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">XÓA DANH MỤC</span>
                </div>
            </div>
            <div class="card-body">
                <form action="index.php?act=user&action=delete&id=1" method="post">
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa danh mục này?
                    </div>
                    <div class="modal-footer">
                        <button style="margin-right: 2% ;" *ngFor="let status of primary" nbButton [status]="status" hero><a routerLink="/pages/category" class="text-white" style="text-decoration: none ;">HỦY</a></button>
                        <button (click)="onSubmit ()" *ngFor="let status of danger" nbButton [status]="status" hero>XÓA</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>