<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">THÊM HÓA ĐƠN</span>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit ()" [formGroup]="addForm">
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="role">Người dùng</label>
                            <select class="form-control" name="user_id" formControlName="customer_id">
                                <option value="">Chọn người dùng</option>
                                <option *ngFor="let dataCustomer of dataCustomer" value="{{dataCustomer.id}}">{{dataCustomer.username}}</option>
                            </select>
                            <span *ngIf="isVal && addForm.get ('customer_id')!.invalid" class="text-danger">Vui lòng chọn người dùng!</span>
                        </div>
                        <div class="col-6">
                            <label for="role">Sản phẩm</label>
                            <select class="form-control" name="product_id" formControlName="product_id">
                                <option value="">Chọn sản phẩm</option>
                                <option *ngFor="let dataProduct of dataProduct" value="{{dataProduct.id}}">{{dataProduct.name}}</option>
                            </select>
                            <span *ngIf="isVal && addForm.get ('product_id')!.invalid" class="text-danger">Vui lòng chọn sản phẩm!</span>
                        </div>
                    </div>
                    <div class="form-group mt-4 row">
                        <div class="col-6">
                            <label for="username">Số lượng</label>
                            <input type="number" class="form-control" name="quantity" formControlName="quantity">
                            <span *ngIf="isVal && addForm.get ('quantity')?.invalid" class="text-danger">
                                <span *ngIf="addForm.get('quantity')?.errors?.['required']">Vui lòng chọn số lượng!</span>
                                <span *ngIf="addForm.get('quantity')?.errors?.['min']">Số lượng không được bé hơn 1!</span>
                            </span>
                        </div>
                        <div class="col-6">
                            <label for="role">Trạng thái</label>
                            <select class="form-control" name="status" formControlName="status">
                                <option value="">Chọn trạng thái</option>
                                <option value="Đang chuẩn bị">Đang chuẩn bị</option>
                                <option value="Chưa thanh toán">Chưa thanh toán</option>
                                <option value="Đã thanh toán">Đã thanh toán</option>
                            </select>
                            <span *ngIf="isVal && addForm.get ('status')!.invalid" class="text-danger">Vui lòng chọn trạng thái!</span>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label for="role">Số bàn</label>
                        <select class="form-control" name="table_id" formControlName="table_id">
                            <option value="">Chọn ID</option>
                            <option *ngFor="let dataTable of dataTable" value="{{dataTable.id}}">{{dataTable.number}}</option>
                        </select>
                        <span *ngIf="isVal && addForm.get ('table_id')!.invalid" class="text-danger">Vui lòng chọn số bàn!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="role">Tổng</label>
                        <input type="number" class="form-control" name="total" formControlName="total">
                        <span *ngIf="isVal && addForm.get ('total')?.invalid" class="text-danger">
                            <span *ngIf="addForm.get('total')?.errors?.['required']">Vui lòng nhập tổng!</span>
                            <span *ngIf="addForm.get('total')?.errors?.['min']">Tổng không được bé hơn 1!</span>
                        </span>
                    </div>
                    <div class="form-group text-center mt-4" style="display: flex ; justify-content:space-around ; width: 70% ; margin: auto ;">
                        <a style="width: 20%" routerLink="/pages/order"><button style="width: 100%" type="submit" *ngFor="let status of warning" nbButton [status]="status" hero>Hủy</button></a>
                        <button style="width: 20%" type="submit" *ngFor="let status of primary" nbButton [status]="status" hero>Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>