<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">SỬA HÓA ĐƠN</span>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit ()" [formGroup]="editForm">
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="role">ID người dùng</label>
                            <select class="form-control" name="customer_id" formControlName="customer_id">
                                <option value="">Chọn ID</option>
                                <option *ngFor="let dataCustomer of dataCustomer" value="{{dataCustomer.id}}">{{dataCustomer.username}}</option>
                            </select>
                            <span *ngIf="isVal && editForm.get ('customer_id')!.invalid" class="text-danger">Vui lòng chọn người dùng!</span>
                        </div>
                        <div class="col-6">
                            <label for="role">Số bàn</label>
                            <select class="form-control" name="table_id" formControlName="table_id">
                                <option value="">Chọn ID</option>
                                <option *ngFor="let dataTable of dataTable" value="{{dataTable.id}}">{{dataTable.number}}</option>
                            </select>
                            <span *ngIf="isVal && editForm.get ('table_id')!.invalid" class="text-danger">Vui lòng chọn số bàn!</span>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label for="role">Trạng thái</label>
                        <select class="form-control" name="status" formControlName="status">
                            <option value="Đang chuẩn bị">Đang chuẩn bị</option>
                            <option value="Chưa thanh toán">Chưa thanh toán</option>
                            <option value="Đã thanh toán">Đã thanh toán</option>
                        </select>
                        <span *ngIf="isVal && editForm.get ('status')!.invalid" class="text-danger">Vui lòng chọn trạng thái!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="role">Tổng</label>
                        <input type="number" class="form-control" name="total" formControlName="total">
                        <span *ngIf="isVal && editForm.get ('total')!.invalid" class="text-danger">Vui lòng chọn số bàn!</span>
                    </div>
                    <div class="form-group text-center mt-4" style="display: flex ; justify-content:space-around ; width: 70% ; margin: auto ;">
                        <a style="width: 20%" routerLink="/pages/order"><button style="width: 100%" type="submit" *ngFor="let status of warning" nbButton [status]="status" hero>Hủy</button></a>
                        <button style="width: 20%" type="submit" *ngFor="let status of primary" nbButton [status]="status" hero>Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>