<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">XÓA HÓA ĐƠN</span>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa hóa đơn này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="margin-right: 2% ;"><a routerLink="/pages/order" class="text-white" style="text-decoration: none ;">Hủy</a></button>
                        <button type="submit" (click)="onSubmit ()" class="btn btn-danger">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>