<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">SỬA CHI TIẾT HÓA ĐƠN</span>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit ()" [formGroup]="editForm">
                    <div class="form-group">
                        <label for="role">ID sản phẩm</label>
                        <select class="form-control" name="product_id" formControlName="product_id">
                            <option value="">Chọn ID</option>
                            <option *ngFor="let dataProduct of dataProduct" value="{{dataProduct.id}}">{{dataProduct.name}}</option>
                        </select>
                        <span *ngIf="isVal && editForm.get ('product_id')!.invalid" class="text-danger">Vui lòng chọn sản phẩm!</span>
                    </div>
                    <div class="form-group mt-4">
                        <label for="username">Số lượng</label>
                        <input type="number" class="form-control" name="quantity" formControlName="quantity">
                        <span *ngIf="isVal && editForm.get ('quantity')!.invalid" class="text-danger">Vui lòng chọn số lượng!</span>
                    </div>
                    <div class="form-group text-center mt-4" style="display: flex ; justify-content:space-around ; width: 70% ; margin: auto ;">
                        <a routerLink="/pages/order/detail/{{order_id}}" style="width: 25% ; color: white ; text-decoration: none ;" class="btn btn-secondary">Hủy</a>
                        <button style="width: 25% ;" type="submit" class="btn btn-primary">Sửa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>