<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
            <div class="card-header">
                <div class="text-center" style="padding-top: 1% ; padding-bottom: 1% ;">
                    <span style="font-size: large ;">XÓA CHI TIẾT</span>
                </div>
            </div>
            <div class="card-body">
                <form action="index.php?act=user&action=delete&id=1" method="post">
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa đánh giá này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="margin-right: 2% ;">Hủy</button>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>