<div class="bg-white p-4" style="border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;">
    <div class="container-fluid">
        <div class="row">
            <!-- Header -->
            <nav style="background-color: rgb(228, 236, 236) ; border: 1px solid rgb(230, 230, 235) ; border-radius: 5px ;" class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a style="text-decoration: none ;" class="navbar-brand text-dark" href="#">Quán Cà Phê ABC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a style="text-decoration: none ;" class="nav-link text-dark" aria-current="page" href="#">Trang Chủ</a>
                            </li>
                            <li class="nav-item">
                                <a style="text-decoration: none ;" class="nav-link text-dark" href="#">Đơn Hàng</a>
                            </li>
                            <li class="nav-item">
                                <a style="text-decoration: none ;" class="nav-link text-dark" href="#">Khách Hàng</a>
                            </li>
                            <li class="nav-item">
                                <a style="text-decoration: none ;" class="nav-link text-dark" href="#">Nhân Viên</a>
                            </li>
                            <li class="nav-item">
                                <a style="text-decoration: none ;" class="nav-link text-dark" href="#">Kho Hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
      
            <!-- Sidebar -->
            <div style="padding: 0px ;" class="col-3 pt-3">
                <ul class="list-group">
                    <li class="list-group-item">Tổng Quan</li>
                    <li class="list-group-item">Quản Lý Đơn Hàng</li>
                    <li class="list-group-item">Quản Lý Khách Hàng</li>
                    <li class="list-group-item">Quản Lý Nhân Viên</li>
                    <li class="list-group-item">Quản Lý Kho Hàng</li>
                    <li class="list-group-item">Cài Đặt</li>
                </ul>
            </div>
      
            <!-- Main Content -->
            <div style="padding: 0px ; padding-left: 2% ;" class="col-9 pt-3">
                <div class="row">
                    <div class="col-4">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Doanh Thu Hôm Nay</h5>
                                <p class="card-text">12.345.678 VND</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Số Đơn Hàng</h5>
                                <p class="card-text">123</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card text-white bg-warning mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Khách Hàng Mới</h5>
                                <p class="card-text">20</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Thêm các thành phần khác như biểu đồ, bảng quản lý... -->
            </div>
        </div>
      </div>
</div>